@font-face {
  font-family: Clash-display;
  src: url(../../Fonts/ClashDisplay-Medium.otf);
}
@font-face {
  font-family: Clash-display-light;
  src: url(../../Fonts/ClashDisplay-Light.otf);
}
@font-face {
  font-family: Clash-display-semibold;
  src: url(../../Fonts/ClashDisplay-Semibold.otf);
}

.hero-comp {
  display: flex;
  color: #ffffff;
  height: 563px;
  width: 1289px;
  border-radius: 25px;
  margin: 0 auto;
}
.left-side {
  padding: 34px 0 95px 64px;
  flex: 2;
}
.right-side {
  flex: 1;
}
.left-side h3 {
  width: 610px;
  font-family: Clash-display;
  font-weight: 500;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}

.left-side h3 span {
  font-size: 18.4px;
  display: block;
  line-height: 28px;
  font-family: Clash-display-light;
  font-weight: 300;
  width: 682px;
  color: #ffffff69;
}

.hero-button {
  display: flex;
  gap: 28px;
}
.get-started {
  background: #2671ca;
  padding: 27px 59px;
  border-radius: 6.16112px;
  color: #ffffff;
}
.contact-us {
  background: #dca509;
  padding: 27px 59px;
  border-radius: 6.16112px;
  color: #ffffff;
}
/* .side-img {
  padding: 15px 0px 15px 10px;
  

} */
.btn-fonts {
  font-family: Clash-display-semibold;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 2px;
}
