body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #010b2e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* UTILITY CLASSESS */
/* Background colours */
.bg-sections {
  background: #010821;
}

/* Font Sizes for sections */

.h3-fonts {
  font-family: Clash-display;
  font-weight: 500;
  color: #ffffff;
}

.span-fonts {
  font-family: Clash-display-light;
  font-weight: 300;
  background: #585d75;
  font-size: 18px;
}
