@font-face {
  font-family: Clash-display;
  src: url(./assets/Fonts/ClashDisplay-Regular.otf);
}
@font-face {
  font-family: Clash-display-light;
  src: url(./assets/Fonts/ClashDisplay-Light.otf);
}
@font-face {
  font-family: Clash-display-semibold;
  src: url(./assets/Fonts/ClashDisplay-Semibold.otf);
}

@font-face {
  font-family: Clash-display-bold;
  src: url(./assets/Fonts/ClashDisplay-Bold.otf);
}
@font-face {
  font-family: Clash-display-extra-light;
  src: url(./assets/Fonts/ClashDisplay-Extralight.otf);
}
@font-face {
  font-family: Clash-display-medium;
  src: url(./assets/Fonts/ClashDisplay-Medium.otf);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #fff;
  color: #010821;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #010b2e;
  font-family: Clash-display;
}

* {
  background-color: transparent;
}
